.footer {
	position: absolute;
	bottom: 0 auto;
	width: 100%;
	background: #141C36;
}

.footer-link {
	text-decoration: none;
	color: #86B4D6;
	font-size: 75%;
}

.footer-li {
	height: 19px;
	padding-left: 20px;
}

.footer-li:last-child {
	margin-bottom: 4px;
}
.footer-link:hover {
	text-decoration: underline;
	color: #ECC191;
}