* {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #ECC191;
	height: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
}

.container {
	width: 960px;
	margin: 0 auto;
	box-sizing: border-box;
}
