.register-section {
	background: #F2F2F2;
	border: 1px solid #9BD0F7;
	height: 100%;
	padding: 20px;
}

.register-section--header {
	text-align: center;
	padding: 10px 0;
	background: #FACC9A;
}

.register-section--text {
	text-align: justify;
	padding: 10px 0;
}

.register-section--link {
	text-decoration: none;
	color: #384BE2;
	font-weight: bold;
}

.register-section--link:hover {
	text-decoration: underline;
	color: #141C36;
}

.register-section--form {
	margin-top: 20px;
	border: 2px dotted #9BD0F7;
	padding: 10px;
}

.register-section--label {
	display: block;
	margin-top: 20px;
}

.register-section--field {
	border: 1px solid #141C36;
}

.register-section--button {
	margin: 20px 0;
	padding: 10px;
	background: #9BD0F7;
	color: #141C36;
	font-weight: bold;
}

.register-section--button:hover {
	background: #141C36;
	color: #9BD0F7;
}

